body{
	background-color:#0098b8;
	color:#555555;
	font: normal 16px Arial, Helvetica, sans-serif;

	line-height:1.6em;
	margin:0;
	
.container{
	width:80%;
	margin:auto;
	
.box-1{
	background-color:333333;
	color:white;


}
